.container {
  display: flex;
  align-items: center;

  &Main {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0.8rem 0 2rem;

    &Swiper {
      width: auto !important;
      height: fit-content;
      margin: 0 1rem 0 0;

      & > span {
        background-color: var(--bg-color);
        color: #000;
        border-radius: var(--border-radius);
        cursor: pointer;
        padding: 0.5rem 0.5rem;
        font-size: 0.875rem;
        font-weight: 500;
        display: block;
      }

      &:first-of-type {
        & > span {
          color: #fff;
          background-color: #000;
        }
      }
    }
  }
}

.slide {
  width: auto !important;
  margin: 0 1rem 0 0;
  overflow: hidden;
}
