.container {
  display: flex;
  flex: 1;
  
  &Main {
    padding: 1rem 1rem;
    height: 3.5rem;
    width: 100%;

    & > span {
      background-color: var(--bg-color);
      color: #000;
      border-radius: var(--border-radius);
      margin: 0.3rem;
      cursor: pointer;
      padding: 0.5rem 0.5rem;
      font-size: 0.875rem;
      font-weight: 500;
    }

    & > span:first-of-type {
      color: #fff;
      background-color: #000;
    }
  }
}
