.container {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 0.5rem 0.725rem 0.8rem;

  &Items {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;

    &Active {
      background-color: var(--bg-color);
    }

    & > span {
      font-size: var(--font-size);
      font-weight: var(--font-weight);
    }

    & > img {
      margin: 0.5rem 1rem 0.5rem 0.5rem;

      & > svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &:hover {
      background-color: var(--bg-color);
    }
  }
}
