.container {
  display: flex;
  flex-direction: column;
  flex: 5.8;
  padding: 0 1.5rem;
  overflow-y: auto;
  height: calc(100vh - 56px);
  // overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

  /*   &:hover {
    overflow-y: auto;
  }
 */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
  }

  &Title {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;

    &Main {
      display: flex;

      & > h3 {
        font-size: 1.2rem;
        font-weight: 700;
      }

      & > img {
        margin-right: 0.7rem;
      }
    }

    &Button {
      cursor: pointer;
    }
  }

  &Main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;
  }

  &Shorts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    width: 100%;
  }
}
