.container {
  display: flex;
  flex-direction: column;
  flex: 1.075;
  overflow-y: auto;
  height: calc(100vh - 56px);
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

  &:hover {
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
  }

  &Main {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--bg-color);
  }

  &Subs {
    margin: 1rem 0 0 0;
    border-bottom: 2px solid var(--bg-color);

    &Title {
      display: flex;
      align-items: center;
      padding: 0 0 0 1.5rem;

      & > span {
        font-size: 1rem;
        line-height: 2.2rem;
        font-weight: 500;
        padding: 0;
      }
    }
  }

  &You {
    margin: 1rem 0 0 0;
    border-bottom: 2px solid var(--bg-color);

    &Title {
      display: flex;
      align-items: center;
      padding: 0 0 0 1.5rem;

      & > span {
        font-size: 1rem;
        line-height: 2.2rem;
        font-weight: 500;
        padding: 0;
      }
    }
  }

  &Explore {
    margin: 1rem 0 0 0;
    border-bottom: 2px solid var(--bg-color);

    &Title {
      padding: 0 0 0 1.5rem;

      & > span {
        padding: 0 0 0 1.5rem;
        font-size: 1rem;
        line-height: 2.2rem;
        font-weight: 500;
        padding: 0;
      }
    }
  }

  &Youtube {
    margin: 1rem 0 0 0;
    border-bottom: 2px solid var(--bg-color);

    &Title {
      padding: 0 0 0 1.5rem;

      & > span {
        padding: 0 0 0 1.5rem;
        font-size: 1rem;
        line-height: 2.2rem;
        font-weight: 500;
        padding: 0;
      }
    }
  }

  &Denuncies {
    margin: 1rem 0 0 0;
    border-bottom: 2px solid var(--bg-color);
  }

  &Footer {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 0 1.2rem;

    &Main {
      margin-bottom: 1rem;
      & > ul {

        & > li {
          & > a {
            text-decoration: none;
            color: #909090;
            font-size: 0.75rem;
            font-weight: 700;
          }
        }
      }
    }

    &Sub {
      & > ul {
       

        & > li {
          & > a {
            text-decoration: none;
            color: #909090;
            font-size: 0.75rem;
            font-weight: 700;
          }
        }
      }
    }
  }

  &Copyright {
    padding: 1rem 1.5rem;

    & > span {
      color: #888;
      font-size: 0.75rem;
      line-height: 1.8rem;
      font-weight: 400;
    }
  }
}
