.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 0.8rem;

  &Main {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--bg-color);
    padding: 0 0 0.8rem;

    &Home {
      display: flex;
      flex-direction: column;
    }
  }
}
