:root {
  --font-family: "Roboto", sans-serif;
  --icon-color: #000;
  --hover-color: #e6e6e6;
  --bg-color: #f0f0f0;
  --border-radius: 8px;
  --font-size: 0.875rem;
  --font-weight: 400;
  --sub-text: #606060;
}

* {
  font-family: var(--font-family);
}
