.container {
  border-radius: var(--border-radius);
  padding: 0.3rem;
  cursor: pointer;
  margin: 0 0 1rem 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--hover-color);
    opacity: 0;
    transition:
      opacity 0.3s,
      transform 0.3s;
    z-index: 0;
    border-radius: var(--border-radius);
    transform: scale(0.95);
    pointer-events: none;
  }

  &:hover::before {
    opacity: 1;
    transform: scale(1.05);
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  &Image {
    margin: 0 0 0.5rem 0;

    & > video {
      height: 21.875rem;
      width: 100%;
      object-fit: cover;
      border-radius: var(--border-radius);
    }
  }

  &Content {
    display: flex;

    &Info {
      display: flex;
      flex-direction: column;
      & > h3 {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.37rem;
      }

      & > span {
        color: var(--sub-text);
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 400;
      }
    }

    &Button {
      display: flex;
      flex-shrink: 0;
      align-items: baseline;
      margin: 0 0 0 0.25rem;
    }
  }
}
